PyQt5
nltk
ibm-watson
pycoingecko
tradingview_ta
git+https://github.com/StreamAlpha/tvdatafeed.git
finta
pyod
pycoingecko
tweepy
textblob
wordcloud
requests
sklearn
hvplot
datetime
python-dotenv
webdriver-manager